<app-login *ngIf="!authService.currentUserSig()"></app-login>
<div class="container text-center" *ngIf="authService.currentUserSig()">
    <h2 class="text-primary-emphasis">BookScout</h2>
    <h6 class="text-secondary-emphasis">Discover Your Next Great Read</h6>
    <hr>

    <div class="grid-container">
        <h5>Thriller</h5>
        <div class="grid-row">
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=F40Pc7uEKtYC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=7XokEAAAQBAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=7I43zwEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=VIwvEAAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=1mclDwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=LLm4DwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
            </div>
        </div>
        <h5>Memoirs</h5>
        <div class="grid-row">
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=tBa-znqVF9QC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=JCf-CQAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=u2joCwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=NcDnAAAAMAAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=XkWAflqSJ-AC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=9HX6DwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
            </div>
        </div>
        <h5>Romance</h5>
        <div class="grid-row">
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=l4KxzQEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=5scPxESB0KUC&printsec=frontcover&img=1&zoom=1&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=04IlDD3rXjAC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=d_C_oYuD8CwC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=ThTYDwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=4gDjCgAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
            </div>
        </div>
        <h5>Self Help</h5>
        <div class="grid-row">
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=afZX0AEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=WvJAEAAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=Ya0txEulrq4C&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=LDr6zQEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=9P6_twEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" alt="">
            </div>
            <div class="grid-item">
                <img src="http://books.google.com/books/content?id=rh-4DwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="">
            </div>
        </div>
    </div>
</div>